#status-bar {
    height: 10%;
    width: 100%;
    background-color: bisque;
    margin-top: 0;
}
ul {
    list-style: none;
}

#scores-list {
    color: #222;
    font-size: 2rem;
}

#score {
    font-weight: bold;
    font-size: 2rem;
    color: #222;
}

#high-score-text {
    font-weight: bold;
    font-size: 2rem;
    color: #222;
}



